doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    // PwC CSS
    link(rel='stylesheet', href='./css/pwc.css')
    // All CSS
    link(rel='stylesheet', href='./css/all.css')
    title The PwC Professional
  body
    #pwc-container.container
      // Start: Header
      .row.pwc-header__pic
        h1 The PwC Professional
      // End: Header
      // Start: Navigation
      .row.justify-content-md-left.pwc-nav
        ul.nav.justify-content-center
          li.nav-item
            a.nav-link.active(href='https://pwc.csod.com/catalog/CustomPage.aspx?id=20003310') Home
          li.nav-item
            a.nav-link(href='https://pwc.csod.com/catalog/CustomPage.aspx?id=20003318') Associate
          li.nav-item
            a.nav-link(href='https://pwc.csod.com/catalog/CustomPage.aspx?id=20003358') Senior Associate
          li.nav-item
            a.nav-link(href='https://pwc.csod.com/catalog/CustomPage.aspx?id=20003359') Manager
          li.nav-item
            a.nav-link(href='https://pwc.csod.com/catalog/CustomPage.aspx?id=20003360') Senior Manager
          li.nav-item
            a.nav-link(href='https://pwc.csod.com/catalog/CustomPage.aspx?id=20003361') Director
          li.nav-item
            a.nav-link(href='https://pwc.csod.com/catalog/CustomPage.aspx?id=20003362') Partner
      // End: Navigation
      // Start: Content
      .row
        // Start: Left Tabs
        .col-3.pb-5
          #list-example.list-group
            a.list-group-item.list-group-item-action(href='#list-item-1') 目的／Why
            a.list-group-item.list-group-item-action(href='#list-item-2') 內容／What
            a.list-group-item.list-group-item-action(href='#list-item-3') 方式／How
        // End: Left Tabs
        // Start: Right Context
        .col-9.pb-5
          .scrollspy-example.z-depth-1(data-spy='scroll', data-target='#list-example', data-offset='0')
            // Start: 目的／Why
            h5#list-item-1.list-item 目的／Why
            hr
            p.font-weight-bold 朝向「全方位人才」(The PwC Professional) 的發展目標邁進
            .card.flex-row.align-items-center
              img.card-img-top(src='https://pwc.csod.com/clientimg/pwc/welcome/TW/The%20PwC%20Professional/professional_pic001.jpg', width='180', height='120')
              .card-body.card-body--np
                p.card-text
                  | 我們一向以專業能力 (Technical capabilities) 自詡，但是，客戶與同仁卻不斷告訴我們只靠專業能力是不夠的；我們還必須展現領導力 (Whole leadership)、關係力 (Relationships)、業務力 (Business acumen) 及跨界力 (Global acumen) 等軟實力，才能創造 PwC Experience，實現我們的策略目標與品牌承諾 (My relationship with PwC helps create the value I’m looking for) 。
            p.font-weight-bold Why PwC Professional ?
            .container
              .row
                .col-12.col-xl-8.pr-xl-4.p-0
                  p
                    | 面對錯綜複雜、交互影響日深的全球化環境，客戶需要的是具有市場領導力、商業洞察力、全球敏銳度、靈活彈性的全方位服務。換言之，光靠卓越的財稅、審計等專業能力 (Technical excellence) 已無法因應當今複雜多變的市場環境，更無法滿足客戶的期待。
                  p
                    | 為了提供客戶全方位的專業服務，在資誠的每一個人，除了掌握專業知能，也必須有計劃地強化個人在領導、溝通、展業及人際關係上的軟實力，成為靈活與韌性兼備的「全方位人才」
                    a.pwc-color__rose--whitetype.pwc-link(href='#list-item-2') (PwC Professional)
                    | 。
                // Video
                .card.col-12.col-xl-4.justify-content-center.flex-row.align-items-center
                  a(href='https://pwc.mediaspace.kaltura.com/media/0_dyqglzes', target='_blank')
                    img.card-img-top(src='https://pwc.csod.com/clientimg/pwc/welcome/TW/The%20PwC%20Professional/videopic.jpg', width='220', height='126')
            p
              | 持續投資同仁的職涯發展，養成「全方位人才」
              a.pwc-color__rose--whitetype.pwc-link(href='#list-item-2') (PwC Professional)
              | ，是事務所一向的堅持與期望。以個人的角度來看，不斷提升專業競爭力的同時，則是邁向個人職涯目標的具體實現。
            .card.flex-row.align-items-center
              img.card-img-top(src='https://pwc.csod.com/clientimg/pwc/welcome/TW/The%20PwC%20Professional/geo-people.png', width='180', height='120')
              .card-body.card-body--np
                h5.card-title 人人皆領袖
                p.card-text
                  | 在 PwC，我們期許每個人都是領袖！換句話說，事務所內的每一位成員都應該積極發展所屬職級的必要職能、展現相對應的正向行為，成為自己角色的領航者，進而貢獻於事務所整體策略目標的達成。
            // End: 目的／Why
            // Start: 內容／What
            h5#list-item-2.list-item 內容／What
            hr
            p
              | The PwC Professional 是一個適用於 PwC 全球各地所有同仁的職能架構，它描繪了「全方位專業人才」所需要具備的五項能力：領導力 (Whole leadership)、關係力
              | (Relationships)、業務力 (Business acumen) 、跨界力 (Global acumen) 及專業力 (Technical capabilities)，同時也勾勒出各個職級該展現的行為指標
              | (
              a.pwc-color__rose--whitetype.pwc-link(href='https://pwc-spark.com/docs/DOC-642842', target='_blank') 中文版
              | 、
              a.pwc-color__rose--whitetype.pwc-link(href='https://pwc-spark.com/docs/DOC-642843', target='_blank') 英文版
              | )。
            // Start: 五力圖
            .row.justify-content-center
              .d-none.d-xl-block.text-center
                span.pwc-color__grey--medium.font-weight-bold
                  | 領導力
                  br
                  | (Whole leadership)
                hr.m-1
                small
                  | 我以負責、實在、彈性、包容與熱情的態度來
                  br
                  | 領導自我、影響他人、完成任務、創造價值
            .row
              .col-sm.d-flex.flex-column.justify-content-around
                .d-none.d-xl-block.text-center
                  span.pwc-color__grey--medium.font-weight-bold
                    | 關係力
                    br
                    | (Relationships)
                  hr.m-1
                  small 我建立以真誠、信任為基礎的高價值關係
                .d-none.d-xl-block.text-center
                  span.pwc-color__grey--medium.font-weight-bold
                    | 跨界力
                    br
                    | (Global acumen)
                  hr.m-1
                  small 我帶著跨地域、跨文化、跨領域的心態與能耐，有效地積極任事、與人合作
              .col-5.justify-content-md-center.text-center
                img(src='https://pwc.csod.com/clientimg/pwc/welcome/TW/The%20PwC%20Professional/five.png', width='350', height='350', usemap='#Map')
                map#Map(name='Map')
                  area(shape='circle', coords='176,177,50', href='#', data-toggle='modal', data-target='#WholeLeadershipModal')
                  area(shape='poly', coords='166,60,169,111,140,124,127,135,117,148,113,163,109,169,60,169,63,143,71,117,90,94,123,71,165,61', href='#', data-toggle='modal', data-target='#RelationshipsModal')
                  area(shape='poly', coords='167,292,168,243,146,235,133,225,119,212,117,200,112,185,61,183,67,215,77,237,93,257,111,273,135,284,153,291,166,293', href='#', data-toggle='modal', data-target='#GlobalAcumenModal')
                  area(shape='poly', coords='184,59', href='#')
                  area(shape='poly', coords='182,63', href='#')
                  area(shape='poly', coords='183,60,183,113,200,116,212,122,227,137,236,150,242,168,291,170,287,143,279,119,260,97,232,75,208,65,184,61', href='#', data-toggle='modal', data-target='#BusinessAcumenModal')
                  area(shape='poly', coords='243,185,292,185,288,207,277,227,267,248,254,263,230,279,208,286,185,295,182,244,208,238,231,221,238,205,242,187', href='#', data-toggle='modal', data-target='#TechnicalCapabilitiesModal')
              .col-sm.d-flex.flex-column.justify-content-around
                .d-none.d-xl-block.text-center
                  span.pwc-color__grey--medium.font-weight-bold
                    | 業務力
                    br
                    | (Business acumen)
                  hr.m-1
                  small 我善用市場智識、業務創新與商業洞察力來創造屬於客戶與 PwC 的獨特價值
                .d-none.d-xl-block.text-center
                  span.pwc-color__grey--medium.font-weight-bold
                    | 專業力
                    br
                    | (Technical capabilities)
                  hr.m-1
                  small 我運用多元而紮實的專業知能，為客戶與 PwC 創造兼具品質與價值的成果
            // End: 五力圖
            // End: 內容／What
            // Start: 方式／How
            h5#list-item-3.list-item 方式／How
            hr
            p.font-weight-bold 70:20:10 是個人追求精益求精、事務所邁向卓越學習發展文化的關鍵途徑
            p 要成為全方位專業人才，並非單靠傳統的教育訓練或自修就能達成，還需要透過工作教導、給予／接受回饋、分享／省思我們的經驗，並且將所學融合並應用在日常工作中。
            p 在 PwC，我們相信一個人的專業發展有下列三種管道：
            ul
              li.text-danger 透過實務挑戰學習 (做中學) (Experience: Learning from doing)
              li.text-danger 透過經驗傳承學習 (互相學) (Exchange & Exposure: Learning from others)
              li.text-danger 從教育訓練中學習 (上課學) (Education: Formal learning)
            .container.section-102070
              .row.justify-content-between.flex-wrap
                // 70% Experience 實務挑戰
                .card.p-0(style='flex-basis:32%')
                  .text-center
                    img.card-img-top.p-0.m-0(src='https://pwc.csod.com/clientimg/pwc/welcome/TW/The%20PwC%20Professional/70.JPG', width='150', height='150')
                    h5.pwc-color__orange.font-weight-bold 做中學
                  .card-body.card-body--np.p-3
                    h6.card-title.font-weight-bold 70% Experience 實務挑戰
                    p.card-text
                      | Developmental tasks and challenges in current job and stretch projects, e.g. acting as a product champion, Priority
                      | Account driver, secondment, etc.
                // 20% Exposure & Exchange 經驗傳承
                .card.p-0(style='flex-basis:33%')
                  .text-center
                    img.card-img-top.p-0.m-0(src='https://pwc.csod.com/clientimg/pwc/welcome/TW/The%20PwC%20Professional/20.JPG', width='150', height='150')
                    h5.pwc-color__orange.font-weight-bold 互相學
                  .card-body.card-body--np.p-3
                    h6.card-title.font-weight-bold 20% Exposure & Exchange 經驗傳承
                    p.card-text Coaching, mentoring, feedback, role modeling, peer sharing, reflection, etc.
                // 10% Education 教育訓練
                .card.p-0(style='flex-basis:32%')
                  .text-center
                    img.card-img-top.p-0.m-0(src='https://pwc.csod.com/clientimg/pwc/welcome/TW/The%20PwC%20Professional/10.JPG', width='150', height='150')
                    h5.pwc-color__orange.font-weight-bold 上課學
                  .card-body.card-body--np.p-3
                    h6.card-title.font-weight-bold 10% Education 教育訓練
                    p.card-text
                      | Structured training courses, reading, study, elearning, talent/leadership/milestone development programmes etc.
            p.font-weight-bold 70:20:10
            p
              | 從一個學習者的角度來看，70:20:10 表示：我們的學習成長，有 70% 來自於具挑戰性的工作經驗；20% 來自於與他人或 Coaches 的交流與經驗傳承；10% 則來自於正規的課程、教育及學習。
            p 70:20:10 這個觀點，已獲得許多學習發展領域專家及相關實證研究的肯定，並為 PwC、Dell、HP 等全球知名企業所採用。 
            p 70:20:10 提供了我們個人及事務所一個絕佳的機會，來建立人員發展上的競爭優勢。它的加乘作用，將有效的協助我們招募，並留住最佳人才。
            p PwC 相信：
            ul
              li.text-danger 一個人的學習發展必須涵蓋上述三種元素。
              li.text-danger 不論個人或是事務所，唯有協調並整合這三個元素，才能規劃出有效的專業發展策略。
              li.text-danger 當這三個元素在學習發展規劃中達到協調與整合時，將可以提升學習品質、促進留才，並增進個人效能，也就是持續地精益求精。
            p
              | 透過 Vantage 搜尋列，輸入與您相關或有興趣學習的關鍵字，善用 Change your filters 精準地搜出適合您學習的範圍，選出自己有興趣的實體課程及自修資源，隨時隨地學習不假他人。
            p 當然您也可以找 Coach 討論，就您的發展需求取得共識。Coach 可以協助您整合學習發展計畫，使您的學習計畫符合您的職涯目標，以及您所屬工作團隊的規劃。
            // End: 方式／How
            // End: Right Context
            // End: Content
            // Whole leadership 領導力 Modal
            #WholeLeadershipModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog.modal-dialog-centered.modal-lg(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabel.modal-title.pwc-color__orange.pwc-font__headline Whole leadership 領導力
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    p 我以負責、實在、彈性、包容與熱情的態度來領導自我、影響他人、完成任務、創造價值
                    .container
                      div
                        // Lead self 領導自我
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium Lead self 領導自我
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li I am self aware. 
                              li I develop and learn through every opportunity. 
                              li I quickly comprehend complexity and am intellectually curious.
                              li I am positive, open minded, objective, agile with change, and flexible. 
                              li I remain steady under pressure.
                        // Lead others 領導他人
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium Lead others 領導他人
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li I inspire, develop, and champion others to deliver effective results.
                              li I maximise my energy and that of others. 
                              li
                                | I know when and how to: lead, be part of a team, get things done, handle and drive
                                | transformational change.
                        // Strengthen PwC 強化 PwC
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium Strengthen PwC 強化 PwC
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li I am guided by values, principles and ethics. 
                              li I am making PwC a better place for being here.
                    .mt-3(style='font-size:14px;')
                      // 點此參考各職級應展現的行為指標
                      a.pwc-color__rose--whitetype.pwc-link(href='https://pwc-spark.com/docs/DOC-642842', target='_blank') 點此參考各職級應展現的行為指標
                  .modal-footer
            // Relationships 關係力 Modal
            #RelationshipsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog.modal-dialog-centered.modal-lg(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabel.modal-title.pwc-color__orange.pwc-font__headline Relationships 關係力
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    p 我建立以真誠、信任為基礎的高價值關係
                    .container
                      div
                        // Communicate with impact 有效溝通，發揮影響力
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium Communicate with impact 有效溝通，發揮影響力
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li I listen to, and empathise with others.
                              li I communicate with confidence and clarity.
                              li I influence, manage and handle objections.
                        // Build relationships with an open mind 以開放心態與人互動、建立關係
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium Build relationships with an open mind 以開放心態與人互動、建立關係
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li I am inclusive; I acquire and apply divergent perspectives.
                              li I grow sustainable relationships beyond my existing network.
                        // Be passionate about client service excellence 熱切地提供卓越的客戶服務
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium Be passionate about client service excellence 熱切地提供卓越的客戶服務
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li
                                | I create an exceptional client experience by understanding their expectations, seeking their feedback, and engaging
                                | around value delivered.
                    .mt-3(style='font-size:14px;')
                      // 點此參考各職級應展現的行為指標
                      a.pwc-color__rose--whitetype.pwc-link(href='https://pwc-spark.com/docs/DOC-642842', target='_blank') 點此參考各職級應展現的行為指標
                  .modal-footer
            // Global Acumen 跨界力 Modal
            #GlobalAcumenModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog.modal-dialog-centered.modal-lg(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabel.modal-title.pwc-color__orange.pwc-font__headline Global acumen 跨界力
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    p 我帶著跨地域、跨文化、跨領域的心態與能耐，有效地積極任事、與人合作
                    .container
                      div
                        // Develop and operate with a global mindset 養成世界觀及跨界力
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium Develop and operate with a global mindset 養成世界觀及跨界力
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li
                                | I am a student of how the world works – economically, socially, culturally, technologically, and environmentally.
                        // Engage productively in complex, changing environments 積極任事，即便處於複雜多變的環境
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium Engage productively in complex, changing environments 積極任事，即便處於複雜多變的環境
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li
                                | I seek to create value through harnessing uncertainty, global relationships, differentiated capability and virtual
                                | teams, and a variety of perspectives.
                        // Bring the best the Network has to offer 善用 PwC Network 的各種資源
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium Bring the best the Network has to offer 善用 PwC Network 的各種資源
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li
                                | I engage proactively across the Network to exchange ideas, to shape my perspective, and to maximise impact.
                    .mt-3(style='font-size:14px;')
                      // 點此參考各職級應展現的行為指標
                      a.pwc-color__rose--whitetype.pwc-link(href='https://pwc-spark.com/docs/DOC-642842', target='_blank') 點此參考各職級應展現的行為指標
                  .modal-footer
            // Technical Capabilities 專業力 Modal
            #TechnicalCapabilitiesModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog.modal-dialog-centered.modal-lg(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabel.modal-title.pwc-color__orange.pwc-font__headline Technical capabilities 專業力
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    p 我運用多元而紮實的專業知能，為客戶與 PwC 創造兼具品質與價值的成果
                    .container
                      div
                        // Adhere to quality standards and practices 堅守品質標準，為所當為
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium Adhere to quality standards and practices 堅守品質標準，為所當為
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li
                                | I understand the significance of quality standards and I am committed to delivering against these expectations.
                              li I manage projects to optimise quality and efficiency.
                        // Build and renew technical (line, practice, industry, sector, business) depth and breadth 持續加強專業的深度及廣度
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium
                            | Build and renew technical (line, practice, industry, sector, business) depth and breadth 持續加強專業的深度及廣度
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li
                                | I bring relevant expertise and experience to the work I do for clients and for PwC.
                        // Create and contribute thought leadership 分享、運用專業思維，為事務所議題領導地位加值
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium Create and contribute thought leadership 分享、運用專業思維，為事務所議題領導地位加值
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li
                                | I build the firm’s brand through sharing knowledge to deliver insights to clients.
                              li I enhance quality and efficiency by using my network and existing resources.
                    .mt-3(style='font-size:14px;')
                      // 點此參考各職級應展現的行為指標
                      a.pwc-color__rose--whitetype.pwc-link(href='https://pwc-spark.com/docs/DOC-642842', target='_blank') 點此參考各職級應展現的行為指標
                  .modal-footer
            // Business acumen 業務力 Modal
            #BusinessAcumenModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog.modal-dialog-centered.modal-lg(role='document')
                .modal-content
                  .modal-header
                    h5#exampleModalLabel.modal-title.pwc-color__orange.pwc-font__headline Business acumen 業務力
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body
                    p 我善用市場智識、業務創新與商業洞察力來創造屬於客戶與 PwC 的獨特價值
                    .container
                      div
                        // Understand how business works and how it is changing 掌握市場運作模式及變化
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium Understand how business works and how it is changing 掌握市場運作模式及變化
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li
                                | I continuously seek opportunities to deepen and broaden my understanding of how business works, how it is changing and
                                | why this matters so that I can articulate a relevant point of view.
                              li I identify innovations and understand the power of technology.
                        // Demonstrate analytical thinking 展現分析性思考力
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium Demonstrate analytical thinking 展現分析性思考力
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li
                                | I process and assimilate complex data and information objectively to inform recommendations
                        // Develop business and create sustainable value 拓展業務，創造永續價值
                        .card.border-secondary.mb-3
                          .card-header.font-weight-bold.pwc-font__subhead.pwc-color__grey--medium Develop business and create sustainable value 拓展業務，創造永續價值
                          .card-body.text-secondary
                            ul(style='margin:0 0 0 20px; padding:0;')
                              li
                                | I proactively seek opportunities to grow the business, solving complex business problems from pursuit through to
                                | execution using a commercial mindset.
                    .mt-3(style='font-size:14px;')
                      // 點此參考各職級應展現的行為指標
                      a.pwc-color__rose--whitetype.pwc-link(href='https://pwc-spark.com/docs/DOC-642842', target='_blank') 點此參考各職級應展現的行為指標
                  .modal-footer
            // Video Modal
            #VideoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog.modal-dialog-centered.modal-lg(role='document')
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body.text-center
                    video#myVideo(width='80%', controls='')
                      source(src='https://pwc.csod.com/clientimg/pwc/welcome/TW/The%20PwC%20Professional/pwc.mp4', type='video/mp4')
                  .modal-footer
            // Optional JavaScript
            // jQuery first, then Popper.js, then Bootstrap JS
            script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
            script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
            script.
              $(window).on('hashchange', function(e) {       
              setTimeout(function() {
              $(".list-group-item-action.active").removeClass("active");
              $('[href="' + document.location.hash + '"]').addClass("active");
              }, 50);
              });
              
              $(function () {             
              $('[data-toggle="tooltip"]').tooltip();
              $('#myModal').on('shown.bs.modal', function () {
              $('#myInput').trigger('focus')
              });
              });
              $('[data-target="#VideoModal"]').click(function () {
              $('#myVideo').get(0).play();
              });
              $('#VideoModal .close').click(function () {
              $('#myVideo').get(0).pause();
              });
